#!/usr/bin/env xdg-open

[Desktop Entry]
Type=Application
Terminal=false
Exec=firefox -P default
Name=Firefox
Comment=Firefox
Icon=/snap/firefox/current/default256.png
Categories=GNOME;GTK;Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;application/vnd.mozilla.xul+xml;text/mml;
StartupNotify=True
